/*Mixins*/
/**/
body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #F9F6F0;
  overflow-x: hidden;
}

.wholePage {
  height: max(auto, 100vh);
  margin: 10vh 0vw 10vh 0vw;
  align-content: center;
  padding: 0;
}

.pattern {
  background-image: url("/assets/background.jpg");
  height: 30vh;
  width: 100%;
  transform: translateY(30vh);
  opacity: 40%;
}

.adjustedPattern {
  background-image: url("/assets/background.jpg");
  height: 40vh;
  width: 100%;
  transform: translateY(2vh);
  opacity: 30%;
}

.headShot {
  position: relative;
  height: 60vh;
  width: auto;
  transform: translateY(-20vh);
}

.adjustedHeadShot {
  position: relative;
  height: 35vh;
  transform: translateY(-35vh);
}

.adjustedTitleText {
  position: relative;
  text-align: left;
  font-family: "Roboto Condensed", sans-serif;
  color: #312f2c;
  margin-top: 20vh;
  width: 100%;
  height: auto;
}
.adjustedTitleText h2 {
  font-size: 2em;
}
.adjustedTitleText .focusText {
  font-size: 3em;
  font-weight: 900;
  font-style: italic;
}
.adjustedTitleText .focusText .name {
  width: -moz-fit-content;
  width: fit-content;
  background-image: linear-gradient(to bottom, transparent 50%, #e3c5ac 50%);
}

.titleText {
  position: relative;
  top: 20%;
  text-align: left;
  font-family: "Roboto Condensed", sans-serif;
  color: #312f2c;
}
.titleText h2 {
  font-size: 2.5vw;
}
.titleText .focusText {
  font-size: 6vw;
  font-weight: 900;
  font-style: italic;
}
.titleText .focusText .name {
  width: -moz-fit-content;
  width: fit-content;
  background-image: linear-gradient(to bottom, transparent 50%, #e3c5ac 50%);
}

body::-webkit-scrollbar {
  display: none;
}

.pageNav {
  background-color: #F9F6F0;
}

.navbar-brand {
  height: 8vh;
  width: auto;
}

.panel1 {
  height: max(100vh, max);
  width: 100vw;
  max-height: 100%;
  max-width: 100%;
}
.panel1 * {
  color: #312f2c;
}

.panel2 {
  height: max(100vh, max);
  width: 100vw;
  max-height: 100%;
  max-width: 100%;
  height: auto;
}
.panel2 ul {
  list-style: none;
}
.panel2 li a {
  text-decoration: none;
  color: rgba(49, 47, 44, 0.555);
}
.panel2 li a .linkText {
  font-size: 5rem;
  font-weight: 600;
  font-style: oblique;
}
.panel2 li a:hover {
  text-decoration: underline;
  color: #312f2c;
}
.panel2 li a:hover .focusText {
  font-weight: 900;
}

.listContainer {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.card {
  height: auto;
  width: 80%;
  background-color: #F9F6F0;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(73, 62, 45, 0.2), 0 6px 20px 0 rgba(73, 62, 45, 0.19);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.aboutImg {
  align-content: center;
  margin-left: 8vw;
  width: 32vw;
}

.adjustedAboutImg {
  align-content: center;
  margin-left: 20%;
  width: 50vw;
}

.adjustedCol {
  margin-top: 0;
  font-size: 2vh;
}

#cellNum {
  color: #312f2c;
}

footer {
  background-color: #312f2c;
  color: #F9F6F0;
}

.subTitle {
  text-align: center;
  font-style: italic;
}

.aboutMeText {
  text-indent: 10%;
}

h6 a {
  color: #F9F6F0;
  font-family: "Roboto Condensed", sans-serif;
}

.icons a {
  color: #F9F6F0;
  text-decoration: none;
}

.accordion .accordion-item {
  background-color: transparent;
  border: none;
}
.accordion .accordion-item img {
  width: max(30vw, 40vh);
}
.accordion .accordion-header button {
  position: relative;
  margin-top: 15%;
  margin-bottom: 15%;
  font-size: larger;
  font-weight: bolder;
  font-style: italic;
}
.accordion button {
  background-color: transparent;
}

#sectionHeader {
  font-size: larger;
  margin-left: 35%;
}

#headerDescription {
  margin-top: 20vh;
  margin-bottom: 35vh;
}

.contactHeader {
  font-size: 5rem;
  text-align: center;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  border: none;
}

.contactCard {
  margin-top: 12vh;
  text-align: center;
  margin-bottom: 10%;
}
.contactCard .card {
  align-self: center;
  margin: 0 auto;
  height: 70vh;
  box-shadow: none;
}
.contactCard .card img {
  height: 30vh;
  width: auto;
}
.contactCard .card .btn {
  background-color: #e3c5ac;
}

#greeting {
  text-align: center;
  padding: 5% 0 5% 0;
  font-size: 5em;
  font-weight: bolder;
  font-style: italic;
}

.projectVid {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: auto;
  border: #594731 2px solid;
  justify-self: center;
}

.projectRow {
  margin-top: 5%;
  padding-bottom: 5%;
}/*# sourceMappingURL=index.css.map */